/* Google Fonts  */


/* Globals  */

/* Variables  */
:root{
    --main-color: #fd4646;
    --sec-color: #4946fd;
    --text-color: #171427;
    --bg-color: #fff;
}
::selection{
    color: var(--text-color);
    background-color: var(--main-color);
}

img{
    width: 100%;
}
body{
    margin: none;
    background-color: #0e0e0e;
}

/* =======================================  */
/* HEADER  */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:transparent;
    box-shadow:none;
    z-index: 100;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.5); /* Adjust the alpha value for transparency */
    backdrop-filter: blur(1px); /* Add a blur effect to the background */
    padding: 5px;
}
.shadow{
    text-shadow: 5px 5px 0px black;
}
.logo{
    margin-left: 5%;
}
.logo span{
    color: var(--main-color);
    font-weight: 700;
    font-size: 2.2rem;
}


/* CART  */
.cart{
    position: fixed;
    top: 0;
    right: 0;
    right: -100%; 
    width: 360px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: var(--bg-color);
    box-shadow: -2px solid 4px hsl(0 4% 15% / 10%);
    border: 1px solid var(--main-color);
    transition: 1.5s;
}
.cart.active{
    right: 0;
    transition: .5s;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: .5rem;
}
.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

#cart-icon{
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.store{
    margin-right: 5%;
}

header .store img{
    width: 40px;
}

header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 8px;
    left: 94%;
    padding: 3px 10px;
}

.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;

}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: .5rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: var(--sec-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background-color: var(--text-color);
}
#cart-close{
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

/* SHOP SECTION  */

.section-title{
    font-style: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.product-box{
    position: relative;
}
.product-box:hover{
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: .4s;
}

.add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.add-cart:hover{
    background-color: hsl(249, 32%, 17%);
}



/* ================ RESPONSIVE & BREAKPOINTS ============= */
/* For Large Devices */
@media screen and (max-width: 1440px){
    #bike {
        width: 40%;
        height: auto;
        top: 200px;
        margin-top: 100px; 
    }

    #text {
        font-size: 20vw;
        top: 130px;  
    }
    .footercheck{
        margin-top: 11.5%;
     }
}

/* For Medium Devices */
@media screen and (max-width: 768px) {
    #bike {
        width: 40%;
        height: auto;
        top: 200px;
        margin-top: 250px; 
    }

    #text {
        font-size: 20vw;
        top: 295px;  
    }
    .store{
        margin-right: 5%;
    }
    
    header .store img{
        width: 40px;
    }
    
    header .shopping span{
        background: red;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: absolute;
        top: 8px;
        left: 93%;
        padding: 3px 10px;
    }
    .footercheck{
        margin-top: 39%;
     }
}

/* For Small Devices */
@media screen and (max-width: 390px) {
    #bike {
        width: 60%;
        height: auto; 
        top: 150px; 
        margin-top: 80px;
    }

    #text {
        font-size: 10vw;
        top: 200px;
    }
    .store{
        margin-right: 5%;
    }
    
    header .store img{
        width: 40px;
    }
    
    header .shopping span{
        background: red;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: absolute;
        top: 8px;
        left: 91%;
        padding: 3px 10px;
    }
    .footercheck{
        margin-top: 19%;
     }
}
/*########################################################################*/


/*####################################################################*/

@import url('https://fonts.googleapis.com/css2?family=Akatab&family=Bebas+Neue&family=Josefin+Sans:wght100;200;300;400;500;600;700&family=Rancho&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    min-height: 100vh;
}


#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

#header .logo{
    font-size: 2em;
    color: #094b65;
    font-weight: 700;
    text-decoration: none;
}

#header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

#header ul li a{
    text-decoration: none;
    font-size: 1em;
    margin: 0 12px;
    font-weight: 600;
    color: #094b65;
    padding: 10px 15px;
    border-radius: 10px;
    transition: .4s;
}

#header ul li a:hover, #header ul li a.active{
    color: #fff;
    background: #094b65;
}


.home{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home::before{
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100px;
   background: linear-gradient(to top, #094b65, transparent);
   z-index: 10;
}

.home img{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    pointer-events: none;
}

.home #text{
    position: absolute;
    font-size: 50vw;

    text-align: center;
    line-height: 0.5em;
    font-family: 'forte', cursive;
    transform: translateY(-50%);
}

.font{
    font-family: 'Boogaloo', cursive;
}

.home #text span{
    font-size: 0.20em;
    letter-spacing: 2px;
    font-weight: 400;
}

#btn{
    padding: 8px 30px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
}


.bg{
    background: black;
}

#bike{
    max-width: 15%;
    height: auto;
    top: 300px;
    
}
 
/* Add hover effect to images inside #categories */
#categories img {
    position: relative;
    transition: transform 0.3s, filter 0.3s;
  }
  
  #categories img:hover {
    transform: scale(1.05); /* Enlarge the image slightly on hover */
    filter: brightness(0.5); /* Apply the darken effect */
  }
  
  /* Add a smooth transition effect for the overlay */
  #categories img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Darken overlay color */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s;
  }
  
  #categories img:hover::before {
    opacity: 0; /* Show the overlay on hover */
  }



.footer{
    background: rgb(20, 18, 35);
}

.rating-color{
    color: #ffae00;
}
 .xxx{
    color: red;
 }


 /*check out ################################*/
 .checkbutton{
    text-align: center;
 }

 

 .chckout{
    margin-top: 6%;
 }

.wall{
    background-image: url(wallpaper.jpg);
    width: 100%;
    height: 100vh;
}

.shopnow{
    margin-top: 400px;
}

.button {
	--background-color:rgb(255, 0, 0);
	--background-color-dark: rgb(188, 0, 0);

	display: inline-block;
	margin: 0 8px;
	padding: 10px 16px;
	font-size: 30px;
	color: #ffffff;
	text-decoration: none;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: var(--background-color);
	box-shadow: 6px 6px 0 var(--background-color-dark);
}
